@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <form action="Home/About" method="get">
        <input name="ces" value="35" />
        <button type="submit">提交</button>
    </form>
</div>
